@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
html {
	font-size: 15px;
	font-family:Merienda,open sans,arial,Calibri;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit:cover;
}
p {
	color: black;
	font-size: 1.5rem;
	margin-top: 0.7%;
	line-height: 2.5rem;
	text-align: justify;
	font-weight: 300;
	letter-spacing: .04rem;
}
.section-title {
	font-size: 3rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0rem;
	text-align: center;
}
  

.cta {
	display: inline-block;
	padding: 10px 30px;
	color:black;
	background-color: transparent;
	border: 3px solid rgb(145, 145, 145);
	border-radius: 3%;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .07rem;
	margin-top: 30px;
	transition: 0.4s ease transform;
	transition-property: background-color, color; 
}
.cta:hover {
	transform: scale(1.02);
	color:black;
	background-color: rgba(145, 145, 145, 0.61);
}
.brand h1 {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: start;
	top:0%;
	color: rgb(27, 46, 28);
	padding-left:2%;
	padding-top: 5%;
}
.brand{
	display:flex;
	left:0;
}
.brand span{
	margin:0.5rem;
}
.mainlogo{
	height: 65px;
	width:50px;
	margin-top:1%;
	margin-bottom:1.5%;
	margin-left:0.5%;
	top:0%; 
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 6vh;
	background-color: rgba(255, 213, 215, 0.507);
	transition: .3s ease background-color;
}
#header .nav-bar {
	font-size: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgba(247, 224, 224, 0.568);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left:3rem;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left; 
}
#header .nav-list ul.active {
	left: 70%;
}
#header .nav-list ul a {
	font-size: 1.7rem;
	font-weight: 700;
	letter-spacing: 0rem;
	word-spacing:0rem;
	text-decoration: none;
	color: rgb(20, 34, 20);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(121, 120, 120);
}
#header .shortcut {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .shortcut:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: shortcut_puls 1s ease infinite;
}
#header .shortcut .bar {
	height: 3px;
	width: 38px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .shortcut .bar::after,
#header .shortcut .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .shortcut .bar::after {
	top: 8px;
}
#header .shortcut .bar::before {
	bottom: 8px;
}
#header .shortcut.active .bar::before {
	bottom: 0;
}
#header .shortcut.active .bar::after {
	top: 0;
}
/* End Header section */

/* home Section */

#home {
	background-image: url(./img/back1.jpg);
	background-size: cover;
	height:580px;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:rgba(255, 213, 215, 0.315);
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	top:25rem;
	left:2rem;
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: rgb(2, 37, 2);
}
#home h2{
	top:25rem;
	left:2rem;
	display: block;
	width: fit-content;
	font-size: 2rem;
	position: relative;
	color: rgb(21, 36, 21);
}
.home-container {
	height: 60vh; 
}
.home-container h1 {
	filter: drop-shadow(0px 10px 6px rgb(18, 20, 44));
	animation: drop 5s ease infinite;
}
.home-container h2 {
	filter: drop-shadow(0px 10px 6px rgb(18, 20, 44));
	animation: drop1 5s ease infinite;
}
/* End home Section */

/* Services Section */

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1700px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 750px;
	letter-spacing: 0rem;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 60%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/about1.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(50deg, #f5c6d1 0%, #ffffff 90%);
	opacity: 0.85;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: rgb(29, 46, 29);
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: rgb(11, 14, 11);
	text-align: left;
}
#services .service-bottom .service-item
 {
	box-shadow: 0px 0px 28px 0 rgba(19, 14, 14, 0.952);
	transition: 1s ease transform;
	transition: 0.5s ease box-shadow;
}
#services .service-bottom .service-item:hover  {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
} 
/* End Services Section */

/*redirect-to exclusive section*/
#redirect-exclusive .redirect-exclusive{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 10px;
}
.redirect-exclusive-info{
	align-content: center;
	max-width: 750px;
	letter-spacing: 0rem;
	margin: 0 auto;
	margin-bottom:2rem;
}
.redirect-exclusive-info h1{
	letter-spacing: 0rem;
}
.redirect-exclusive-item{
	display: flex;
	justify-content: center;
	flex-direction:column;
	padding: 30px;
	border-radius: 10px;
}
.redirect-exclusive-info a{
	font-size:1rem;
	font-weight:100;
	text-decoration:none;
	color: rgb(21, 36, 21);
}
.redirect-exclusive-image img{
	position:relative;
	align-self: center;
	height:20rem;
	width:35rem;
	margin-left:23rem;
}
#redirect-exclusive .redirect-exclusive-image img {
	transition: .4s ease transform;
}
#redirect-exclusive .redirect-exclusive-image:hover img {
	transform: scale(1.05);
}

/* End redirect-to exclusive section*/

/* About Section */

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 10px;
}
#about .col-left {
	width: 520px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0rem;
	margin-bottom: 10px;
}
#about .col-right p {
	letter-spacing:0rem;
	margin-bottom: 2px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position:relative;
	border: 3px solid rgba(247, 250, 248, 0.274);
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -20px;
	top: 15px;
	height: 99%;
	width: 100%;
	border: 5px solid rgba(255, 225, 225, 0.836);
	z-index: -1;
}
/* End About Section */

/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1500px;
	margin: 0 auto;
	padding:0rem;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 rgba(255, 225, 225, 0.952);
	transition: .3s ease box-shadow;
	transition: .4s ease transform;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
	transform: scale(1.05);
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 5px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	letter-spacing: 0rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */

#footer {
	 background-image: linear-gradient(60deg, rgb(255, 225, 225) 0%, #fafafa 90%); 
}
#footer .footer {
	min-height: 10rem;
	flex-direction: column; 
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h1{
	font-size: 2.2rem;
	word-spacing:0rem ;
	margin:0 auto;
	color:rgb(32, 49, 32);
}
#footer h2 {
	color: rgb(25, 41, 31);
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 1.5rem;
}
#footer .social-item {
	height: 4rem;
	width: 3.5rem;
	margin: 0 0.2rem;
}
#footer .social-item img {
	filter:opacity(0.7);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter:opacity(1);
	transform: scale(1.1);
}
#footer p {
	color: rgb(23, 36, 27);
	font-size: 1.3rem;
	letter-spacing: 0rem;
}
.myname{
	font-weight: 5000;
	color:rgb(145, 143, 143);
}
.myname:hover{
	color:rgb(23, 36, 27);
}
/* End Footer */

/* Keyframes */

@keyframes shortcut_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(50px);
	}
}
@keyframes drop1 {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(50px);
	}
}
/* End Keyframes */

/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 2.5rem;
		letter-spacing: 0rem;
		align-self: center;
	} 
	#home h1 {
		font-size: 4rem;
	} 
	#services .service-bottom .service-item {
		flex-basis: 31%;
		margin: 1%;
	}
	/* End Services Section */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 950px;
		height: 350px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 95%;
		width: 95%;
		border: 5px solid rgba(110, 110, 110, 0.733);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */
	/* contact  */
    
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
	/* header */
	#header .shortcut {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.14rem;
		letter-spacing: 0rem;
		word-spacing: 0rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}
/*End  Media Query For Desktop*/

/*----------------------------------------------------*/

/* EXCLUSIVE PAGE START*/
/* new page of exclusive offers Section*/

#exclusive .exclusive {
	background-image: linear-gradient(50deg, rgba(255, 225, 225,0.2) 0%, #fafafa 120%);
	flex-direction: column;
	text-align: center;
	max-width: 1700px;
	margin: 0 auto;
	padding: 100px 0;
}
.exclusive-header .section-title{
	letter-spacing: 0rem;
	font-size:3rem;
	font-weight: 700;
	padding-bottom:3rem;
}
#exclusive .all-exclusive-offers{
	display:flex;
	flex:1;
	align-items:center;
	margin-left:40px;
	padding-left:40px;
	max-width: 80rem;
	left:0%;
}
#exclusive .exclusive-info{
	align-content: center;
	min-width:20rem;
	max-width: 30rem;
	letter-spacing: 0rem;
	margin: 5px;
	margin-right:50px ;
	text-align: center;
}
#exclusive .exclusive-info h1{
	font-size:1.2rem;
}
#exclusive .exclusive-info h2{
	font-size:2rem;
	font-weight: 600;
	text-align: center;
}
#exclusive .exclusive-img {
	height:400px;
	width:320px;
	display: flex;
	flex:start;
	margin-top: 10px;
}
#exclusive .exclusive-img img{
	border-radius: 70px;
	margin-top:10px;
}
#exclusive .exclusive-item {
	width:900px;
	flex-basis: 60%;
	display: inline-flexbox;
	align-items: flex-start;
	flex-direction: column;
	padding: 5px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
#exclusive .exclusive-img img {
	box-shadow: 0px 0px 28px 0 rgba(255, 225, 225, 0.952);
	transition: 1s ease-in-out transform;
	transition: 0.5s ease box-shadow;
}
#exclusive .exclusive-img:hover img {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
}

/* end of new page of exclusive offers Section*/
/* EXCLUSIVE PAGE end*/
/*----------------------------------------------------*/
/* PRODUCTS PAGE Start*/
/* new page of PRODUCTS Section*/

#products{
	background-image: linear-gradient(50deg, rgb(255, 225, 225) 0%, #fafafa 120%);
}
hr {
	align-self:center;
    width: 55%;
    border: 0.5px solid rgba(15, 22, 16, 0.212);
  }

#products .products {
	flex-direction: column;
	text-align: center;
	max-width: 1700px;
	margin: 0 auto;
	padding: 100px 0;
}
#products .products-container{
	flex:1;
	flex-direction: row;
	margin-top:120px;
	margin-left:30px;
	margin-right:60px;
}

.products-header .section-title{
	letter-spacing: 0rem;
	font-size:3rem;
	font-weight: 700;
	padding-bottom:3rem;
}
#products .all-products{
	flex:1;
	align-items:center;
	max-width: 82rem;
	left:0%;
}
#products .products-item{
	display:flex;
	flex-direction: column;
	position:relative;
	align-items:center;
	max-width: 80rem;
	margin-top:30px;
	margin-bottom: 100px;
	
}

#products .products-info{
	display: flex;
	flex:1;
	flex-direction: column;
	align-content: center;
	min-width:75rem;
	max-width: 30rem;
	letter-spacing: 0rem;
	margin: 5px;
	margin-right:50px ;
	text-align: center;
}
#products .products-info h1{
	font-size:2.2rem;
}
#products .products-info h2{
	letter-spacing: 0.1rem;
	line-height: 3.5rem;
	font-size:1.7rem;
	font-weight: 600;
	text-align: center;
}
#products .products-info p{
	letter-spacing:0rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1.2rem;
}

#products .all-products-img {
	display: flex;
	flex:start;
	height:fit-content;
	width:fit-content;
	margin-top: 10px;
	padding:10px;
}
#products .all-products-img-container{
	display:flex;
	flex:1;
	flex-direction: row;
}
#products .each-product{
	display: inline-block;
	margin:10px;
}
#products .products-tag h4{
	margin-top:5px;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}
#products .products-img img{
	height: 350px;
	width: 270px;
	object-fit:cover;
	border-radius: 20px;
	margin-bottom: 10px;
	border:2px solid white;
	z-index:1;
}
#products .products-img img
 {
	box-shadow: 0px 0px 28px 0 rgba(255, 225, 225, 0.952);
	transition: 1s ease-in-out transform;
	transition: 0.5s ease box-shadow;
}
#products .products-img:hover img {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
} 

/* end of new page of PRODUCTS Section*/
/* PRODUCTS PAGE END*/

/* -----------------------------------------------------*/

/* Registeration page start*/

#membership .membership{
	background-image: url(./img/newback.jpg);
	background-size: fill;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#membership .membership::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(50deg, #fde9ee 0%, #ffffff 90%);
	opacity: 0.5;
	z-index: -1;
}

#membership .membership {
	flex-direction: column;
	text-align: center;
	max-width: 1700px;
	margin: 0 auto;
	padding: 100px 0;
}

.membership .section-title{
	color:rgb(14, 22, 15);
	letter-spacing: 0px;
	font-size:2rem;
	font-weight: 300;
	padding-bottom:3rem;
}
#membership legend{
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 0rem;
	margin:10px;
	padding:5px;
}
#membership label{
	position:relative;
	display:inline-block;
	margin-left: 10px;
	margin-bottom:10px;
}
#membership input{
	position:relative;
}
#membership .packages .packages-items{
	display:flex;
	flex-direction: row;
	
}
#membership .packages .packages-item{
	height:280px;
	width:250px;
	display: inline-flexbox;
	flex-direction: row;
	margin: 10px;
	border:2px solid rgb(75, 75, 75);
}
#membership .packages .packages-item p{
	font-size: 1rem;
	letter-spacing: 0rem;
	margin:10px;
}
#membership .packages .packages-item label{
	font-size: 1.6rem;
	letter-spacing: 0rem;
	font-weight: 500;
}
#membership .packages .packages-item .package-icon img{
	margin-top:10px;
	height:100px;
	width:100px;
	border-radius: 50%;
}
#membership .packages .packages-item .package-icon img
 {
	box-shadow: 0px 0px 28px 0 rgba(255, 225, 225, 0.952);
	transition: 1s ease-in-out transform;
	transition: 0.5s ease box-shadow;
}
#membership .packages .packages-item:hover img {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
} 
#membership .fashion-choice h4{
	font-size: 1.5rem;
	margin-bottom:10px;
}
#membership .fashion-choice label{
	font-size: 1.3rem;
	font-weight: 580;
	padding:10px;
}
#membership .buttons{
	align-items:center;
	padding:10px;
}
#membership .buttons .button{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	margin:10px;
}
#membership .buttons .button
 {
	box-shadow: 0px 0px 28px 0 rgba(255, 225, 225, 0.74);
	transition: 1s ease-in-out transform;
	transition: 0.5s ease box-shadow;
}
#membership .buttons .button:hover button{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
} 
#membership .thanks-img img{
	height:130px;
	width:220px;
}
#membership .thanks-img img
 {
	box-shadow: 0px 0px 28px 0 rgba(255, 225, 225, 0.952);
	transition: 1s ease-in-out transform;
	transition: 0.5s ease box-shadow;
}
#membership .thanks-img:hover img {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 0 black;
} 
/* Registeration page END*/